{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area start */ -}}

<meta name="author" content="{{ site.Params.author }}">
<meta property="article:author" content="{{ site.Params.author }}">
<meta property="article:publisher" content="https://marioclr.com">
<meta property="og:site_name" content="Mario CLR">

{{- /* Head custom content area end */ -}}
{{- /* Head custom content area end */ -}}
