{{ $base := resources.Get "og/og-base.jpg" }}

{{ $title := .Title }}
{{ $subtitle := .Params.subtitle }}

{{ $img := $base | images.Filter (images.Text
  $title
  (dict
    "color" "#111111"
    "size" 64
    "x" 100
    "y" 240
  )
) }}

{{ if $subtitle }}
{{ $img = $img | images.Filter (images.Text
  $subtitle
  (dict
    "color" "#555555"
    "size" 36
    "x" 100
    "y" 320
  )
) }}
{{ end }}

{{ $img = $img | images.Filter (images.Text
  "Mario CLR"
  (dict
    "color" "#888888"
    "size" 28
    "x" 100
    "y" 560
  )
) }}

<meta property="og:image" content="{{ $img.Permalink }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">