{{ define "main" }}

<section class="hero-section">
  <h1>{{ .Title }}</h1>

  {{ with .Params.hero_role }}
    <p class="hero-role"><strong>{{ . }}</strong></p>
  {{ end }}

  {{ with .Params.hero_description }}
    <p class="hero-description">
      {{ . }}
    </p>
  {{ end }}
</section>

<section class="about-section">

  <figure class="about-image">
    {{ with .Params.hero_image }}
      <img src="{{ . }}" alt="Retrato profesional">
    {{ end }}
  </figure>

  <div class="about-content">
    {{ .Content }}
  </div>

</section>

{{ end }}